@tailwind base;
@tailwind components;
@tailwind utilities;

.columClass {
  overflow-y: scroll;
  -ms-overflow-style: none; /* for IE */
  scrollbar-width: none; /* for firefox */
}

.columClass::-webkit-scrollbar {
  display: none; /* for chrome, safari, opera */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  /* color: #d70b4c; */
}
